name: Run collector & poster

on:
  schedule:
    - cron: '0 18 * * *'  # пример: каждый день в 21:00 по МСК
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Set up job
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Check & format code
        run: |
          pip install black
          black . --line-length 100

      - name: Run collector & poster
        run: python main.py
